@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  src: url("./../fonts/hind-siliguri-v12-latin-regular.woff2") format("woff2"), url("./../fonts/hind-siliguri-v12-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  src: url("./../fonts/hind-siliguri-v12-latin-500.woff2") format("woff2"), url("./../fonts/hind-siliguri-v12-latin-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  src: url("./../fonts/hind-siliguri-v12-latin-600.woff2") format("woff2"), url("./../fonts/hind-siliguri-v12-latin-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  src: url("./../fonts/hind-siliguri-v12-latin-700.woff2") format("woff2"), url("./../fonts/hind-siliguri-v12-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont.woff2") format("woff2"), url("./../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::after {
  font-family: "iconfont";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-case:before {
  content: "\e900";
}

._icon-cloud:before {
  content: "\e901";
}

._icon-code:before {
  content: "\e902";
}

._icon-facebook:before {
  content: "\e903";
}

._icon-grey-check:before {
  content: "\e904";
}

._icon-right-arrow-strong:before {
  content: "\e905";
}

._icon-twitter:before {
  content: "\e906";
}

._icon-diamond:before {
  content: "\e907";
}

._icon-gift:before {
  content: "\e908";
}

._icon-linkedin:before {
  content: "\e909";
}

._icon-platform:before {
  content: "\e90a";
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.case {
  max-width: 1295px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.logo {
  position: relative;
  font-weight: 500;
  font-size: 23px;
  line-height: 95%;
  padding-left: 52px;
  color: #292830;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("./../img/x-logo.png");
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  color: #bdbdbd;
}

.label {
  font-weight: 400;
  font-size: 22px;
  line-height: 164%;
  text-transform: uppercase;
  color: #bdbdbd;
}

.subheading {
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  color: #292830;
}

.more {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  padding-right: 36px;
  color: #ff7235;
}

.more::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 24px;
  height: 24px;
  background: url("./../img/arrow-right.png");
}

.subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 162%;
  color: #292830;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  text-align: center;
}

.demo {
  padding: 18px 58px 24px 24px;
  background: #ff7235;
  border-radius: 8px;
  color: #fff;
  position: relative;
}

.demo::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: url("./../img/check.png");
}

.social {
  font-size: 17.5px;
  color: #292830;
}

.tit {
  font-weight: 500;
  font-size: 24px;
  line-height: 162.5%;
  text-transform: uppercase;
  color: #292830;
  margin-bottom: 24px;
}

.style-li {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #292830;
}

.header {
  padding: 57px 0 106px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  font-weight: 500;
  font-size: 23px;
  line-height: 95%;
  padding-left: 52px;
  color: #292830;
}

.header__logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("./../img/x-logo.png");
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 95%;
}

.header__item {
  margin-left: 40px;
}

.header__ref {
  color: #292830;
  padding: 15px 16px 17px 18px;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__ref:hover {
  color: #ff7235;
  border: 1px solid #ff7235;
}

.header__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 95%;
  color: #292830;
  padding: 15px 16px 17px 18px;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  color: #ff7235;
  border: 1px solid #ff7235;
}

@media (max-width: 940px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrap-logo {
    margin-bottom: 50px;
  }
  .header__list {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .header .header__list {
    display: block;
    font-size: 25px;
    margin-bottom: 70px;
    text-align: center;
  }
  .header .header__item {
    margin-bottom: 50px;
    margin-left: 0;
  }
  .header .header__button {
    text-align: center;
    font-size: 25px;
  }
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__track {
  padding-bottom: 70px;
}

.page__overview {
  padding: 87px 0 0;
  background-color: #ff7235;
}

.page__brands {
  padding: 140px 0 70px;
}

.page__support {
  padding: 70px 0;
}

.page__cost {
  padding: 70px 0;
}

.page__anytime {
  padding: 70px 0;
}

.page__product {
  padding: 70px 0;
}

.page__plan {
  padding: 70px 0;
}

.page__countires {
  padding: 70px 0;
  background-color: #ff7235;
}

.track__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.track__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 8px 30px 0 0;
}

.track__heading {
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  color: #292830;
  margin-bottom: 20px;
}

.track__text {
  margin-bottom: 40px;
}

.track__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
}

.track__desc {
  margin-left: 24px;
}

.track__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 538px;
          flex: 0 0 538px;
}

.track__image {
  max-width: 100%;
}

@media (max-width: 1335px) {
  .track__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .track__body {
    padding: 0;
    margin-bottom: 50px;
  }
  .track__heading {
    text-align: center;
  }
  .track__text {
    text-align: center;
  }
  .track__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .track__desc {
    margin-left: 0;
  }
}

@media (max-width: 1023px) {
  .track__heading {
    font-size: 50px;
  }
  .track__text {
    font-size: 20px;
  }
  .track__list {
    display: block;
    text-align: center;
  }
  .track__point {
    margin-bottom: 40px;
  }
  .track__desc {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .track__heading {
    font-size: 35px;
  }
  .track__desc {
    font-size: 20px;
  }
  .track__wrap-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 438px;
            flex: 0 0 438px;
  }
  .track__image {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .track__wrap-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
  }
  .track__image {
    max-width: 100%;
  }
}

.overview__img {
  max-width: 100%;
}

@media (max-width: 1023px) {
  .overview {
    padding: 15px 0 0;
  }
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.brands__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  padding: 54px;
}

.brands__pic {
  max-width: 100%;
}

@media (max-width: 1335px) {
  .brands__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brands__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3334%;
            flex: 0 1 33.3334%;
  }
  .brands__wrap-pic {
    text-align: center;
  }
}

@media (max-width: 1023px) {
  .brands__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brands__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 768px) {
  .brands__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brands__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.support__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.support__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 31px 0;
}

.support__label {
  margin-bottom: 24px;
}

.support__subheading {
  margin-bottom: 24px;
}

.support__text {
  margin-bottom: 24px;
}

.support__wrap-picture {
  margin-top: 51px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 540px;
          flex: 0 0 540px;
}

.support__picture {
  max-width: 100%;
}

@media (max-width: 1335px) {
  .support__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .support__body {
    padding: 0;
    margin-bottom: 50px;
  }
  .support__label {
    text-align: center;
  }
  .support__subheading {
    text-align: center;
  }
  .support__text {
    text-align: center;
  }
  .support__wrap-more {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .support__subheading {
    font-size: 50px;
  }
  .support__text {
    font-size: 18px;
  }
  .support__wrap-picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 440px;
            flex: 0 0 440px;
  }
  .support__picture {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .support__wrap-picture {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
  }
  .support__picture {
    max-width: 100%;
  }
}

.cost__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cost__wrap-cartoon {
  padding-top: 81px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 540px;
          flex: 0 0 540px;
}

.cost__cartoon {
  max-width: 100%;
}

.cost__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 41px 0 0 31px;
}

.cost__label {
  margin-bottom: 24px;
}

.cost__subheading {
  margin-bottom: 24px;
}

.cost__text {
  margin-bottom: 24px;
}

@media (max-width: 1335px) {
  .cost__row {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cost__body {
    padding: 0;
    margin-bottom: 50px;
  }
  .cost__label {
    text-align: center;
  }
  .cost__subheading {
    text-align: center;
  }
  .cost__text {
    text-align: center;
  }
  .cost__wrap-more {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .cost__subheading {
    font-size: 50px;
  }
  .cost__text {
    font-size: 18px;
  }
  .cost__wrap-cartoon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 440px;
            flex: 0 0 440px;
  }
  .cost__cartoon {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .cost__wrap-cartoon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
  }
  .cost__cartoon {
    max-width: 100%;
  }
}

.anytime__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.anytime__label {
  margin-bottom: 24px;
}

.anytime__subheading {
  margin-bottom: 24px;
}

.anytime__text {
  margin-bottom: 24px;
}

.anytime__wrap-paint {
  margin-top: 51px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 540px;
          flex: 0 0 540px;
}

.anytime__paint {
  max-width: 100%;
}

@media (max-width: 1335px) {
  .anytime__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .anytime__body {
    padding: 0;
    margin-bottom: 50px;
  }
  .anytime__label {
    text-align: center;
  }
  .anytime__subheading {
    text-align: center;
  }
  .anytime__text {
    text-align: center;
  }
  .anytime__wrap-more {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .anytime__subheading {
    font-size: 50px;
  }
  .anytime__text {
    font-size: 18px;
  }
  .anytime__wrap-paint {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 440px;
            flex: 0 0 440px;
  }
  .anytime__paint {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .anytime__wrap-paint {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
            flex: 0 0 280px;
  }
  .anytime__paint {
    max-width: 100%;
  }
}

.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__subheading {
  margin-bottom: 80px;
}

.product__text {
  font-size: 24px;
  line-height: 39px;
  margin-top: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
}

.product__range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__column {
  padding: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3334%;
          flex: 0 1 33.3334%;
}

.product__item {
  padding: 63px 65px 111px 65px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 2px solid transparent;
  border-radius: 12px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__item:hover {
  background: #fff;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.04);
}

.product__item:hover .product__ref {
  display: block;
  color: #292830;
}

.product__icon-platform {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255, 189, 116, 0.05);
  margin-bottom: 24px;
}

.product__icon-platform:before {
  position: absolute;
  font-size: 24px;
  color: #ffbd74;
  -webkit-transform: translate(40%, 80%);
          transform: translate(40%, 80%);
}

.product__icon-cloud {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(226, 89, 139, 0.05);
  margin-bottom: 24px;
}

.product__icon-cloud:before {
  position: absolute;
  font-size: 24px;
  color: #e2598b;
  -webkit-transform: translate(40%, 80%);
          transform: translate(40%, 80%);
}

.product__icon-code {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(77, 18, 238, 0.05);
  margin-bottom: 24px;
}

.product__icon-code:before {
  position: absolute;
  font-size: 24px;
  color: #4d12ee;
  -webkit-transform: translate(110%, 80%);
          transform: translate(110%, 80%);
}

.product__subtitle {
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
  color: #292830;
  margin-bottom: 12px;
}

.product__desc {
  font-size: 14px;
  line-height: 164%;
  text-align: center;
  margin-bottom: 24px;
}

.product__ref {
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 1335px) {
  .product__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__subheading {
    text-align: center;
    margin-bottom: 50px;
  }
  .product__text {
    text-align: center;
    margin-bottom: 50px;
  }
  .product__range {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product__column {
    padding: 25px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 1023px) {
  .product__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .product__column {
    padding: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
  }
}

@media (max-width: 767px) {
  .product__subheading {
    font-size: 50px;
  }
  .product__text {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .product__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .product__subtitle {
    text-align: center;
  }
}

.plan__title {
  color: #292830;
  margin-bottom: 80px;
}

.plan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan__column {
  margin: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3334%;
          flex: 0 1 33.3334%;
}

.plan__item {
  padding: 40px 100px 60px 36px;
  border: 1px solid #f5f5f5;
  border-radius: 12px;
}

.plan__item:hover {
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.04);
}

.plan__item:hover .plan__get {
  background-color: #ff7235;
  color: #fff;
}

.plan__item:hover .plan__get::after {
  background: url("./../img/arrow-right-strong.png") 0 0/contain no-repeat;
}

.plan__icon-stater {
  font-size: 24px;
  color: #3ec1f3;
  margin-bottom: 27px;
}

.plan__subtitle {
  margin-bottom: 24px;
}

.plan__list {
  font-weight: 400;
  font-size: 18px;
  line-height: 161%;
  color: #292830;
  margin-bottom: 24px;
}

.plan__point {
  position: relative;
  padding-left: 32px;
  margin-bottom: 8px;
}

.plan__point::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 17px;
  height: 13px;
  background: url("./../img/grey-check.png");
}

.plan__point:last-child {
  margin-bottom: 0;
}

.plan__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 162.5%;
  color: #292830;
}

.plan__span {
  font-weight: 300;
  font-size: 20px;
  line-height: 160%;
  color: #bdbdbd;
}

.plan__topic {
  font-size: 12px;
  line-height: 146%;
  color: #bdbdbd;
  margin-bottom: 40px;
}

.plan__get {
  position: relative;
  padding: 12px 58px 12px 24px;
  border: 1px solid #ff7235;
  border-radius: 8px;
  color: #ff7235;
  font-size: 16px;
  line-height: 162.5%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.plan__get::after {
  content: "";
  position: absolute;
  top: 21px;
  right: 25px;
  height: 16px;
  width: 16px;
  background: url("./../img/arrow-right-strong-orange.png") 0 0/contain no-repeat;
}

.plan__icon-silver {
  font-size: 24px;
  color: #ff7235;
  margin-bottom: 27px;
}

.plan__icon-diamond {
  font-size: 24px;
  color: #4d12ee;
  margin-bottom: 27px;
}

@media (max-width: 1335px) {
  .plan__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .plan__column {
    padding: 30px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
  .plan__item {
    padding: 40px 36px 60px 36px;
    text-align: center;
  }
  .plan__point::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 60px;
    width: 17px;
    height: 13px;
    background: url("./../img/grey-check.png");
  }
}

@media (max-width: 1023px) {
  .plan__title {
    font-size: 50px;
  }
  .plan__column {
    padding: 30px 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 90%;
            flex: 0 1 90%;
  }
  .plan__item {
    padding: 40px 36px 60px 36px;
  }
  .plan__point::before {
    display: none;
  }
}

@media (max-width: 440px) {
  .plan__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .plan__item {
    padding: 20px 10px 60px;
  }
  .plan__subtitle {
    font-size: 25px;
  }
  .plan__list {
    font-size: 14px;
  }
}

.countires__title {
  color: #fff;
  margin-bottom: 24px;
}

.countires__text {
  font-weight: 500;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
  color: #fff;
}

.countires__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countires__screen {
  max-width: 100%;
}

.countires__wrap-button {
  margin-top: 60px;
}

.countires__button {
  font-size: 22px;
  line-height: 95%;
  background: #fff;
  color: #ff7235;
}

.countires__button::after {
  background: url("./../img/chek-down-orange.png");
}

.countires__scr {
  max-width: 100%;
}

@media (max-width: 1335px) {
  .countires__title {
    font-size: 60px;
  }
  .countires__text {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .countires__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .countires__wrap_screen {
    text-align: center;
  }
  .countires__wrap_scr {
    text-align: center;
  }
  .countires__wrap-button {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .countires__title {
    font-size: 50px;
  }
  .countires__text {
    font-size: 25px;
  }
}

@media (max-width: 425px) {
  .countires__title {
    font-size: 30px;
  }
  .countires__text {
    font-size: 15px;
  }
}

.footer {
  padding: 70px 0 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -50px;
  margin-bottom: 40px;
}

.footer__column {
  padding: 0 50px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.footer__column_col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 184px;
          flex: 0 1 184px;
}

.footer__column_col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 94px;
          flex: 0 1 94px;
}

.footer__column_col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 182px;
          flex: 0 1 182px;
}

.footer__column_col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
}

.footer__logo {
  text-align: center;
  margin-bottom: 50px;
}

.footer__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(189, 189, 189, 0.2);
  padding: 22px 0 22px 0;
}

.footer__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__paragraph {
  margin-right: 24px;
}

.footer__par-link {
  font-size: 14px;
  line-height: 164%;
  color: #292830;
}

.footer__copy {
  font-size: 14px;
  line-height: 164%;
  color: #292830;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__station {
  margin-left: 12px;
}

.links__wrap-reference {
  margin-bottom: 8px;
}

.links__wrap-reference:last-child {
  margin-bottom: 0;
}

.legal__wrap-reference {
  margin-bottom: 8px;
}

.legal__wrap-reference:last-child {
  margin-bottom: 0;
}

.newsletter__topic {
  font-size: 20px;
  line-height: 160%;
  color: #bdbdbd;
  margin-bottom: 18px;
}

.newsletter__form {
  position: relative;
}

.newsletter__wrap-input {
  position: relative;
  max-width: 349px;
  height: 62px;
  margin-bottom: 10px;
}

.newsletter__input {
  width: 100%;
  height: 100%;
  border: 1px solid #292830;
  border-radius: 8px;
  padding: 0 132px 0px 23px;
  margin-right: 138px;
  font-size: 18px;
  line-height: 161%;
  color: #292830;
}

.newsletter__input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.newsletter__input:-ms-input-placeholder {
  color: #bdbdbd;
}

.newsletter__input::-ms-input-placeholder {
  color: #bdbdbd;
}

.newsletter__input::placeholder {
  color: #bdbdbd;
}

.newsletter__button {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 102px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 162%;
  color: #fff;
  background-color: #ff7235;
  border-radius: 8px;
  cursor: pointer;
}

.newsletter__subtopic {
  font-size: 14px;
  line-height: 164%;
  color: #bdbdbd;
}

@media (max-width: 1335px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.3334%;
            flex: 0 1 33.3334%;
    padding: 0;
  }
  .footer__column_col-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__column_col-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .footer__column_col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 120px;
            flex: 0 1 120px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer__column_col-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .links {
    margin-bottom: 50px;
  }
  .newsletter__tit {
    text-align: center;
  }
  .newsletter__topic {
    text-align: center;
  }
  .newsletter__wrap-input {
    margin: 0 auto;
  }
  .newsletter__button {
    right: 35px;
  }
  .newsletter__subtopic {
    text-align: center;
  }
}

@media (max-width: 1150px) {
  .footer__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 51%;
            flex: 0 1 51%;
  }
  .footer__column__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__column .links {
    text-align: center;
  }
  .footer__column .legal {
    text-align: center;
    margin-bottom: 50px;
  }
  .footer__column__button {
    right: 0;
  }
  .footer__column .newsletter__wrap-input {
    max-width: 580px;
    height: 62px;
  }
  .footer__column .newsletter__button {
    right: 7px;
  }
}
