@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  src: url("./../fonts/hind-siliguri-v12-latin-regular.woff2") format("woff2"), url("./../fonts/hind-siliguri-v12-latin-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  src: url("./../fonts/hind-siliguri-v12-latin-500.woff2") format("woff2"), url("./../fonts/hind-siliguri-v12-latin-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  src: url("./../fonts/hind-siliguri-v12-latin-600.woff2") format("woff2"), url("./../fonts/hind-siliguri-v12-latin-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Hind Siliguri";
  src: url("./../fonts/hind-siliguri-v12-latin-700.woff2") format("woff2"), url("./../fonts/hind-siliguri-v12-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border-style: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Hind Siliguri", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 -15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.text {
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
  color: #bdbdbd;
}

.header {
  padding: 57px 0 106px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  font-weight: 500;
  font-size: 23px;
  line-height: 95%;
  padding-left: 52px;
  color: #292830;
}

.header__logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("./../img/x-logo.png");
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: 95%;
}

.header__item {
  margin-left: 40px;
}

.header__ref {
  color: #292830;
  padding: 15px 16px 17px 18px;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__ref:hover {
  color: #ff7235;
  border: 1px solid #ff7235;
}

.header__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 95%;
  color: #292830;
  padding: 15px 16px 17px 18px;
  border: 1px solid #fff;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__button:hover {
  color: #ff7235;
  border: 1px solid #ff7235;
}

.page__track {
  margin-bottom: 211px;
}

.track__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.track__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 8px 30px 0 0;
}

.track__heading {
  font-weight: 700;
  font-size: 96px;
  line-height: 100%;
  color: #292830;
  margin-bottom: 20px;
}

.track__text {
  margin-bottom: 40px;
}

.track__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 39px;
}

.track__ref {
  padding: 18px 58px 24px;
  background: #ff7235;
  border-radius: 8px;
  color: #ffffff;
}

.track__desc {
  margin-left: 24px;
}

.track__wrap-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 538px;
          flex: 0 0 538px;
}

.track__image {
  max-width: 100%;
}
