.anytime {
    &__row {
        display: flex;
    }

    &__body {
    }

    &__label {
        margin-bottom: 24px;
    }

    &__subheading {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 24px;
    }

    &__wrap-more {
    }

    &__more {
    }

    &__wrap-paint {
        margin-top: 51px;
        flex: 0 0 540px;
    }

    &__paint {
        max-width: 100%;
    }
}
