.wrapper {
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 -15px;
    box-sizing: content-box;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;

    color: $textColorGrey;
}
