.wrapper {
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 -15px;
    box-sizing: content-box;
}

.text {
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;

    color: $textColorGrey;
}

.label {
    font-weight: 400;
    font-size: 22px;
    line-height: 164%;
    text-transform: uppercase;

    color: #bdbdbd;
}
.subheading {
    font-weight: 700;
    font-size: 96px;
    line-height: 100%;

    color: #292830;
}
.more {
    position: relative;

    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    padding-right: 36px;

    color: #ff7235;

    &::after {
        content: "";
        position: absolute;
        top: 8px;
        right: 0;

        width: 24px;
        height: 24px;
        background: url("./../img/arrow-right.png");
    }
}
.subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 162%;

    color: #292830;
}
.point {
}
