.brands {
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: space-between;
    }

    &__column {
    }

    &__wrap-pic {
    }

    &__pic {
        max-width: 100%;
    }
}
