.cost {
    &__row {
        display: flex;
    }

    &__wrap-cartoon {
        padding-top: 81px;
        flex: 0 0 540px;
    }

    &__cartoon {
        max-width: 100%;
    }

    &__body {
        flex: 1 1 auto;
        padding: 41px 0 0 31px;
    }

    &__label {
        margin-bottom: 24px;
    }

    &__subheading {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 24px;
    }

    &__wrap-more {
    }

    &__more {
    }
}

@media (max-width: 1335px) {
    .cost {
        &__row {
            flex-wrap: wrap-reverse;
            justify-content: center;
        }

        &__body {
            padding: 0;
            margin-bottom: 50px;
        }

        &__label {
            text-align: center;
        }

        &__subheading {
            text-align: center;
        }

        &__text {
            text-align: center;
        }

        &__wrap-more {
            text-align: center;
        }
    }
}

@media (max-width: 767px) {
    .cost {
        &__subheading {
            font-size: 50px;
        }

        &__text {
            font-size: 18px;
        }

        &__wrap-cartoon {
            flex: 0 0 440px;
        }

        &__cartoon {
            max-width: 100%;
        }
    }
}

@media (max-width: 500px) {
    .cost {
        &__wrap-cartoon {
            flex: 0 0 280px;
        }

        &__cartoon {
            max-width: 100%;
        }
    }
}
