.countires {
    &__title {
        color: #fff;

        margin-bottom: 24px;
    }

    &__text {
        font-weight: 500;
        font-size: 36px;
        line-height: 100%;

        text-align: center;

        color: #fff;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__wrap {
        &_screen {
        }

        &_scr {
        }
    }

    &__screen {
        max-width: 100%;
    }

    &__wrap-button {
        margin-top: 60px;
    }

    &__button {
        font-size: 22px;
        line-height: 95%;
        background: #fff;
        color: #ff7235;

        &::after {
            background: url("./../img/chek-down-orange.png");
        }
    }

    &__scr {
        max-width: 100%;
    }
}

@media (max-width: 1335px) {
    .countires {
        &__title {
            font-size: 60px;
        }

        &__text {
            font-size: 30px;

            margin-bottom: 50px;
        }

        &__row {
            flex-wrap: wrap;
            flex-direction: column;
        }

        &__wrap {
            &_screen {
                text-align: center;
            }

            &_scr {
                text-align: center;
            }
        }

        &__wrap-button {
            text-align: center;

            margin-bottom: 60px;
        }
    }
}

@media (max-width: 767px) {
    .countires {
        &__title {
            font-size: 50px;
        }

        &__text {
            font-size: 25px;
        }
    }
}

@media (max-width: 425px) {
    .countires {
        &__title {
            font-size: 30px;
        }

        &__text {
            font-size: 15px;
        }
    }
}
