@font-face {
  font-family: "iconfont";
  src: url("./../fonts/iconfont.woff2") format("woff2"), url("./../fonts/iconfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before,
[class^="_icon-"]::after,
[class*=" _icon-"]::after {
  font-family: "iconfont";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-case:before {
  content: "\e900";
}
._icon-cloud:before {
  content: "\e901";
}
._icon-code:before {
  content: "\e902";
}
._icon-facebook:before {
  content: "\e903";
}
._icon-grey-check:before {
  content: "\e904";
}
._icon-right-arrow-strong:before {
  content: "\e905";
}
._icon-twitter:before {
  content: "\e906";
}
._icon-diamond:before {
  content: "\e907";
}
._icon-gift:before {
  content: "\e908";
}
._icon-linkedin:before {
  content: "\e909";
}
._icon-platform:before {
  content: "\e90a";
}
