.page {
    &__track {
        padding-bottom: 211px;
    }

    &__overview {
        padding: 87px 0 0;
        background-color: #ff7235;
    }

    &__brands {
        padding: 90px 0 73px;
    }

    &__support {
        padding: 87px 0;
    }

    &__cost {
        padding: 100px 0;
    }

    &__anytime {
        padding: 100px 0;
    }

    &__product {
        padding: 100px 0;
    }
}
