.page {
    flex: 1 1 auto;

    &__track {
        padding-bottom: 70px;
    }

    &__overview {
        padding: 87px 0 0;
        background-color: #ff7235;
    }

    &__brands {
        padding: 140px 0 70px;
    }

    &__support {
        padding: 70px 0;
    }

    &__cost {
        padding: 70px 0;
    }

    &__anytime {
        padding: 70px 0;
    }

    &__product {
        padding: 70px 0;
    }

    &__plan {
        padding: 70px 0;
    }

    &__countires {
        padding: 70px 0;
        background-color: #ff7235;
    }
}
